In [1]:
import sys
sys.path.append('../code')
import os
from pubmap import retrieve_pubmed, analyse_pubmed, get_author_pos

In [2]:
data_path = "/Users/martinszyska/Sites/node/pubmap/pubmap_api/data"

In [ ]:
pubmed_query="Reinke P[au] OR Volk HD[au]"
pubmed_df = retrieve_pubmed(pubmed_query)
pubmed_df[:2]

### clear mistakes

In [ ]:
# get rid of last tow entries and other
pubmed_clean_df = pubmed_df.iloc[:-2,:].query('title != "The role of arousal in memory for conversation."')

In [ ]:
def check_names(pub):
    if len([a for a in pub['authors'] if a == "Reinke,P" or a.startswith("Volk,")]):
        return pub

In [ ]:
pubmed_clean2_df = pubmed_clean_df.apply(check_names, axis=1).query("title == title").reset_index(drop=True)
# change that one "volk,HD" to "Volk,HD"
pubmed_clean2_df.iloc[752,5] = ['Ode-Hakim,S', 'Döcke,WD', 'Mutze,S', 'Volk,HD', 'Reinke,P']
pubmed_clean2_df[:3]

In [ ]:
result_df = pubmed_clean2_df.apply(get_author_pos, axis=1).drop(columns="affiliations")
result_df[:3]

### save results

In [ ]:
result_df.to_csv(os.path.join(data_path, 'rv_pubs.csv'), sep="\t", index=False)

## RUN the analysis

In [ ]:
analyse_pubmed(result_df, outfolder="/Users/martinszyska/Sites/node/pubmap/public/data", max_nodes=250, min_power=1, min_weight=1)

## STEP BY STEP

### get the coauthor linkage

In [ ]:
coauthors = get_coauthors(result_df)
coauthors.to_csv(os.path.join(data_path, 'coauthors.csv'), sep="\t", index=False)

In [3]:
from pubmap import get_coauthors, get_nodes, get_edges, save_by_year
coauthors = pd.read_csv(os.path.join(data_path, 'coauthors.csv'), sep="\t")

In [4]:
ca_df = coauthors.query('date <= 1985')
ca_df

                     A               B  date
168500        Grunow,R         Volk,HD  1985
168501        Grunow,R     von Baehr,R  1985
168502         Volk,HD     von Baehr,R  1985
168503        Gruner,S       Meffert,H  1985
168504        Gruner,S         Volk,HD  1985
168505        Gruner,S        Grunow,R  1985
168506        Gruner,S          Jahn,S  1985
168507       Meffert,H         Volk,HD  1985
168508        Grunow,R       Meffert,H  1985
168509          Jahn,S       Meffert,H  1985
168510        Grunow,R         Volk,HD  1985
168511          Jahn,S         Volk,HD  1985
168512        Grunow,R          Jahn,S  1985
168513         Volk,HD      Waschke,SR  1985
168514        Diezel,W         Volk,HD  1985
168515        Grunow,R         Volk,HD  1985
168516         Volk,HD     von Baehr,R  1985
168517        Fiebig,H         Volk,HD  1985
168518        Diezel,W      Waschke,SR  1985
168519        Grunow,R      Waschke,SR  1985
168520      Waschke,SR     von Baehr,R  1985
168521        Fiebig,H      Waschke,SR  1985
168522        Diezel,W        Grunow,R  1985
168523        Diezel,W     von Baehr,R  1985
168524        Diezel,W        Fiebig,H  1985
168525        Grunow,R     von Baehr,R  1985
168526        Fiebig,H        Grunow,R  1985
168527        Fiebig,H     von Baehr,R  1985
168528        Diezel,W         Volk,HD  1985
168529         Volk,HD      Waschke,SR  1985
168530    Barthelmes,H         Volk,HD  1985
168531        Grunow,R         Volk,HD  1985
168532        Fiebig,H         Volk,HD  1985
168533    Sönnichsen,N         Volk,HD  1985
168534        Diezel,W      Waschke,SR  1985
168535    Barthelmes,H        Diezel,W  1985
168536        Diezel,W        Grunow,R  1985
168537        Diezel,W        Fiebig,H  1985
168538        Diezel,W    Sönnichsen,N  1985
168539    Barthelmes,H      Waschke,SR  1985
168540        Grunow,R      Waschke,SR  1985
168541        Fiebig,H      Waschke,SR  1985
168542    Sönnichsen,N      Waschke,SR  1985
168543    Barthelmes,H        Grunow,R  1985
168544    Barthelmes,H        Fiebig,H  1985
168545    Barthelmes,H    Sönnichsen,N  1985
168546        Fiebig,H        Grunow,R  1985
168547        Grunow,R    Sönnichsen,N  1985
168548        Fiebig,H    Sönnichsen,N  1985
168549        Diezel,W  Volc-Platzer,B  1985
168550        Diezel,W         Volk,HD  1985
168551        Diezel,W        Stingl,G  1985
168552  Volc-Platzer,B         Volk,HD  1985
168553        Stingl,G  Volc-Platzer,B  1985
168554        Stingl,G         Volk,HD  1985
168555          Jahn,S         Volk,HD  1985
168556        Grunow,R          Jahn,S  1985
168557        Grunow,R         Volk,HD  1985
168558        Grunow,G         Volk,HD  1985
168559        Grunow,G      Ittenson,A  1985
168560      Ittenson,A         Volk,HD  1985
168561        Grunow,R         Volk,HD  1984
168562       Neuhaus,K         Volk,HD  1984
168563   Effenberger,E         Volk,HD  1984
168564        Grunow,R       Neuhaus,K  1984
168565   Effenberger,E        Grunow,R  1984
168566   Effenberger,E       Neuhaus,K  1984
168567        Baehr,RV         Volk,HD  1984
168568        Grunow,R         Volk,HD  1984
168569        Krüger,W         Volk,HD  1983
168570         Riese,C         Volk,HD  1983
168571    Schnitzler,S         Volk,HD  1983
168572        Krüger,W         Riese,C  1983
168573        Krüger,W    Schnitzler,S  1983
168574         Riese,C    Schnitzler,S  1983
168575        Reinke,C        Reinke,P  1977
168576        Reinke,P    Schabinski,G  1977
168577       Günther,E        Reinke,P  1977
168578        Reinke,C    Schabinski,G  1977
168579       Günther,E        Reinke,C  1977
168580       Günther,E    Schabinski,G  1977

### get the nodes from the unique names in A and B

In [5]:
nodes = get_nodes(ca_df, min_power=2)
nodes

    id            name  power  first  last  group
0    0         Volk,HD     32   1983  1985      1
1    1        Grunow,R     23   1984  1985      1
2    2        Diezel,W     14   1985  1985      1
3    3      Waschke,SR     11   1985  1985      1
4    4        Fiebig,H     11   1985  1985      1
5    5     von Baehr,R      7   1985  1985      1
6    6          Jahn,S      6   1985  1985      1
7    7    Sönnichsen,N      6   1985  1985      1
8    8    Barthelmes,H      6   1985  1985      1
9    9       Meffert,H      4   1985  1985      1
10  10        Gruner,S      4   1985  1985      1
11  11        Krüger,W      3   1983  1983      1
12  12       Günther,E      3   1977  1977      1
13  13       Neuhaus,K      3   1984  1984      1
14  14        Reinke,C      3   1977  1977      1
15  15        Reinke,P      3   1977  1977      1
16  16         Riese,C      3   1983  1983      1
17  17    Schabinski,G      3   1977  1977      1
18  18    Schnitzler,S      3   1983  1983      1
19  19        Stingl,G      3   1985  1985      1
20  20  Volc-Platzer,B      3   1985  1985      1
21  21   Effenberger,E      3   1984  1984      1
22  22      Ittenson,A      2   1985  1985      1
23  23        Grunow,G      2   1985  1985      1

### get the edges for the linkage

In [6]:
nodes2, edges2 = get_edges(ca_df, nodes, min_weight=1)
edges2

    source  target  weight
0        1       0       7
1        2       0       3
2        4       1       2
3        1       3       2
4        1       6       2
5        6       0       2
6        4       3       2
7        4       0       2
8        2       3       2
9        1       5       2
10       0       5       2
11       2       1       2
12       0       3       2
13       2       4       2
14      19      20       1
15      11       0       1
16      12      15       1
17      12      17       1
18      22       0       1
19      20       0       1
20       6       9       1
21       7       3       1
22      11      16       1
23      11      18       1
24       9       0       1
25      18       0       1
26      13       0       1
27       7       0       1
28      14      15       1
29      12      14       1
30      14      17       1
31      15      17       1
32      16      18       1
33      16       0       1
34      19       0       1
36       1       9       1
37       1       7       1
38       1      13       1
39       8       4       1
40       8       1       1
41       8       7       1
42       8       0       1
43       8       3       1
44       2      19       1
45       2       7       1
46       2      20       1
47       2       5       1
48      21       1       1
49      21      13       1
50      21       0       1
51       4       7       1
52       4       5       1
53      10       1       1
54      10       6       1
55      10       9       1
56      10       0       1
57      23      22       1
58      23       0       1
59       8       2       1
60       3       5       1

In [7]:
nodes2.to_csv(os.path.join(data_path, "pubmap_nodes.csv"), sep="\t", index=False)
edges2.to_csv(os.path.join(data_path, "pubmap_edges.csv"), sep="\t", index=False)

In [8]:
json_folder = "/Users/martinszyska/Sites/node/pubmap/public/data/pubmap"

In [9]:
for year in coauthors['date'].sort_values().unique():
    print(year)
    _,_ = save_by_year(coauthors, year, save_folder=json_folder,
    max_nodes=250, min_power=1, min_weight=1)

1977
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021